# WIZELINE DATA ENGINEERING BOOTCAMP
## Code Challenge
### Adrian Ramos Perez

In [1]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
data = pd.read_csv(url)

data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [17]:
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}
answer_dict

{'Q1': None,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?
#### Format: A floating number
#### Example answer: answer_dict["Q1"] =  11.547

In [3]:
########## Q1
Volkswagen_cars = data[data['Make']=='Volkswagen']
Avg = Volkswagen_cars['CO2 Emission Grams/Mile'].mean()

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

In [18]:
answer_dict["Q1"] = Avg
answer_dict

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer: 
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [4]:
q2 = data[['Make','Model']]
q2

                   Make                Model
0            AM General    DJ Po Vehicle 2WD
1            AM General     FJ8c Post Office
2            AM General  Post Office DJ5 2WD
3            AM General  Post Office DJ8 2WD
4      ASC Incorporated                  GNX
...                 ...                  ...
35947             smart         fortwo coupe
35948             smart         fortwo coupe
35949             smart         fortwo coupe
35950             smart         fortwo coupe
35951             smart         fortwo coupe

[35952 rows x 2 columns]

In [5]:
# Number of diferent brands:
brands_number = q2['Make'].nunique()
brands_number

127

In [6]:
brands_df = data['Make']
brands_df.drop_duplicates()

0                         AM General
4                   ASC Incorporated
5                              Acura
307                       Alfa Romeo
348      American Motors Corporation
                    ...
34128                     Volkswagen
35175                          Volvo
35892          Wallace Environmental
35924                           Yugo
35932                          smart
Name: Make, Length: 127, dtype: object

In [8]:
unique_models_dict = {}
for i in brands_df: 
    
    # Clean duplicates in models of the same brand:
    x = q2[q2['Make'] == str(i)]['Model'].drop_duplicates()
    # Count the number of the models of the same brand:
    unique_values = q2[q2['Make'] == str(i)]['Model'].nunique()
    # Assign the unique values to the list 
    unique_models_dict[i] = unique_values

In [9]:
unique_models_lst = pd.DataFrame(unique_models_dict.items()).values.tolist()
unique_models_lst = sorted(unique_models_lst,key=lambda l:l[1], reverse=True)
answer_dict['Q2'] = unique_models_lst[:5]

In [21]:
answer_dict['Q2'] = unique_models_lst[:5]
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer: 
`['Regular',
 'Premium']`

In [22]:
########## Q3
Fuels = data['Fuel Type'].drop_duplicates()
Fuels_sorted = Fuels.sort_values(ascending=False).tolist()
#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium'] 
answer_dict["Q3"] = Fuels_sorted
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['Regular Gas or Electricity',
  'Regular Gas and Electricity',
  'Regular',
  'Premium or E85',
  'Premium and Electricity',
  'Premium Gas or Electricity',
  'Premium',
  'Midgrade',
  'Gasoline or propane',
  'Gasoline or natural gas',
  'Gasoline or E85',
  'Diesel',
  'CNG'],
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q.4 Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. 
#### Show the car Model, Year and their Fuel Barrels/Year in standard deviation units(Z-score) sorted in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order BUT without modifying the negative values (see example).
#### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units
Example answer:
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
['FJ8c Post Office', 2003, -6.407431084026927],
['Post Office DJ5 2WD', 2005, -6.391684618442447],
['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
['Camry CNG', 2012, 2.677633075759575],
['Sierra 1500 4WD', 2005, 2.677633075759575],
['Sierra 1500 4WD', 2001, 2.677633075759575],
['V15 Suburban 4WD', 1988, 2.677633075759575],
['V15 Suburban 4WD', 1987, 2.677633075759575]]

Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. 
If the values are the same the rows are sorted by the year.

In [28]:
########## Q4
# Filtering by brand
Toyota_Cars = data['Toyota' == data['Make']] 
# Dropping unnecessary columns
Toyota_Cars = Toyota_Cars[['Model','Year','Fuel Barrels/Year']]

In [29]:
Toyota_Cars['Mean'] = Toyota_Cars['Fuel Barrels/Year'].mean()
Toyota_Cars['Std Dev'] = Toyota_Cars['Fuel Barrels/Year'].std()
Toyota_Cars['Z-score']  = (Toyota_Cars['Fuel Barrels/Year'] - Toyota_Cars['Mean'])/Toyota_Cars['Std Dev'] 
Toyota_Cars['Z-score abs'] = np.abs(Toyota_Cars['Z-score'])
Toyota_Cars = Toyota_Cars.sort_values('Z-score abs', ascending=False)
Toyota_Cars = Toyota_Cars[:9].sort_values('Year', ascending=False)

In [30]:
answer_dict['Q4'] = Toyota_Cars[['Model','Year','Fuel Barrels/Year']].values.tolist()
answer_dict['Q4']

[['Camry CNG', 2001, 0.0845454545454545],
 ['Camry CNG', 2000, 0.0845454545454545],
 ['Camry CNG', 1999, 0.0808695652173913],
 ['Cab/Chassis 2WD', 1993, 32.961],
 ['Cab/Chassis 2WD', 1992, 32.961],
 ['Cab/Chassis 2WD', 1992, 29.96454545454546],
 ['Cab/Chassis 2WD', 1991, 32.961],
 ['Cab/Chassis 2WD', 1990, 32.961],
 ['Cab/Chassis 2WD', 1989, 32.961]]

## Q.5 Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. 
#### Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.
Format: A 19X3 list, with the Year and Combined MPG being of type integer and only the calculated difference is of type float
Note: The value for the first model should be 0. It does not matter that there are gaps in the years, calculate with respect the previous model.
#### Example answer:
```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
 ```

In [57]:
########## Q5
# Filtering data by models that include name 'Golf':
# Golfs_df = data[True == data['Model'].str.contains('Golf')] 
Golfs_df = data['Golf' == data['Model']]
Golfs_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34367,Volkswagen,Golf,1986,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Diesel,10.919571,31,40,35,290.857143,1050
34368,Volkswagen,Golf,1986,1.8,4.0,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,21,25,22,403.954545,1500
34369,Volkswagen,Golf,1986,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34370,Volkswagen,Golf,1987,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Diesel,11.581364,31,37,33,308.484848,1100
34371,Volkswagen,Golf,1987,1.8,4.0,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,21,25,22,403.954545,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34434,Volkswagen,Golf,2015,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Diesel,10.616250,30,45,36,286.000000,1000
34435,Volkswagen,Golf,2016,1.8,4.0,Automatic (S6),Front-Wheel Drive,Compact Cars,Regular,11.365862,25,36,29,305.000000,1150
34436,Volkswagen,Golf,2016,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,10.987000,25,37,30,300.000000,1100
34437,Volkswagen,Golf,2017,1.8,4.0,Automatic (S6),Front-Wheel Drive,Compact Cars,Regular,11.365862,25,35,29,309.000000,1150
34438,Volkswagen,Golf,2017,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,11.365862,25,36,29,305.000000,1150

In [58]:
# Filtering by Transmission and Fuel Type conditions & Dropping unnecessary columns::
Golfs_df = Golfs_df[('Manual 5-spd'==Golfs_df['Transmission']) & ('Regular'==Golfs_df['Fuel Type'])][['Year','Combined MPG']]
Golfs_df

       Year  Combined MPG
34369  1986            26
34372  1987            26
34374  1988            25
34377  1989            25
34379  1999            24
34385  2000            24
34391  2001            24
34395  2002            24
34399  2003            24
34403  2004            24
34407  2005            24
34411  2006            24
34412  2010            25
34417  2011            26
34421  2012            26
34427  2013            26
34431  2015            30
34436  2016            30
34438  2017            29

In [59]:
# Adding column:
Golfs_df['Difference'] = Golfs_df['Combined MPG'] - Golfs_df['Combined MPG'].shift(periods=1)
Golfs_df.fillna(0,inplace=True)
lst_q5 = Golfs_df.values.tolist()
lst_q5

[[1986.0, 26.0, 0.0],
 [1987.0, 26.0, 0.0],
 [1988.0, 25.0, -1.0],
 [1989.0, 25.0, 0.0],
 [1999.0, 24.0, -1.0],
 [2000.0, 24.0, 0.0],
 [2001.0, 24.0, 0.0],
 [2002.0, 24.0, 0.0],
 [2003.0, 24.0, 0.0],
 [2004.0, 24.0, 0.0],
 [2005.0, 24.0, 0.0],
 [2006.0, 24.0, 0.0],
 [2010.0, 25.0, 1.0],
 [2011.0, 26.0, 1.0],
 [2012.0, 26.0, 0.0],
 [2013.0, 26.0, 0.0],
 [2015.0, 30.0, 4.0],
 [2016.0, 30.0, 0.0],
 [2017.0, 29.0, -1.0]]

In [60]:
answer_dict['Q5'] = lst_q5
answer_dict['Q5']

[[1986.0, 26.0, 0.0],
 [1987.0, 26.0, 0.0],
 [1988.0, 25.0, -1.0],
 [1989.0, 25.0, 0.0],
 [1999.0, 24.0, -1.0],
 [2000.0, 24.0, 0.0],
 [2001.0, 24.0, 0.0],
 [2002.0, 24.0, 0.0],
 [2003.0, 24.0, 0.0],
 [2004.0, 24.0, 0.0],
 [2005.0, 24.0, 0.0],
 [2006.0, 24.0, 0.0],
 [2010.0, 25.0, 1.0],
 [2011.0, 26.0, 1.0],
 [2012.0, 26.0, 0.0],
 [2013.0, 26.0, 0.0],
 [2015.0, 30.0, 4.0],
 [2016.0, 30.0, 0.0],
 [2017.0, 29.0, -1.0]]

## Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

In [46]:
########## Q6
def brand(s):
    s = str(s)
    # Filtering by brand and CO2 Emission Grams/Mile:
    lco2e = data[s == data['Make']][['Make','CO2 Emission Grams/Mile']]
    # Sort and take TOP 5:
    lco2e.sort_values('CO2 Emission Grams/Mile',inplace=True)
    lco2e = lco2e.iloc[:5]
    return lco2e['CO2 Emission Grams/Mile']

In [47]:
brands = ['Toyota','Ford','Volkswagen','Nissan','Honda']
lst_q6 = [['Toyota'],['Ford'],['Volkswagen'],['Nissan'],['Honda']]
it = 0
for b in brands:
    x = brand(b).to_list()
    lst_q6[it] = lst_q6[it] + x
    it+=1

In [48]:
answer_dict['Q6'] = lst_q6
answer_dict['Q6']

[['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
 ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
 ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
 ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
 ['Honda',
  130.0,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887,
  167.67924528301887]]

## Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

##### Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
##### Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

In [50]:
########## Q7
year_range = 0
g=[0]*7
lst_q7 = [[]*2]*7
for i in range(7):

    g[i] = data[(1984+year_range<=data['Year']) & (1988+year_range>=data['Year'])][['Year','Combined MPG']]
    median = g[i]['Combined MPG'].median()   
    lst_q7[i] = [(1984+year_range,1988+year_range), median]      
    year_range+=5

answer_dict['Q7'] = lst_q7
answer_dict['Q7']

[[(1984, 1988), 19.0],
 [(1989, 1993), 18.0],
 [(1994, 1998), 19.0],
 [(1999, 2003), 19.0],
 [(2004, 2008), 19.0],
 [(2009, 2013), 21.0],
 [(2014, 2018), 22.0]]

## Saving results to Answers dictionary:

In [61]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['Regular Gas or Electricity',
  'Regular Gas and Electricity',
  'Regular',
  'Premium or E85',
  'Premium and Electricity',
  'Premium Gas or Electricity',
  'Premium',
  'Midgrade',
  'Gasoline or propane',
  'Gasoline or natural gas',
  'Gasoline or E85',
  'Diesel',
  'CNG'],
 'Q4': [['Camry CNG', 2001, 0.0845454545454545],
  ['Camry CNG', 2000, 0.0845454545454545],
  ['Camry CNG', 1999, 0.0808695652173913],
  ['Cab/Chassis 2WD', 1993, 32.961],
  ['Cab/Chassis 2WD', 1992, 32.961],
  ['Cab/Chassis 2WD', 1992, 29.96454545454546],
  ['Cab/Chassis 2WD', 1991, 32.961],
  ['Cab/Chassis 2WD', 1990, 32.961],
  ['Cab/Chassis 2WD', 1989, 32.961]],
 'Q5': [[1986.0, 26.0, 0.0],
  [1987.0, 26.0, 0.0],
  [1988.0, 25.0, -1.0],
  [1989.0, 25.0, 0.0],
  [1999.0, 24.0, -1.0],
  [2000.0, 24.0, 0.0],
  [2001.0, 24.0, 0.0],
  [2002.0, 24.0, 0.0],
  [2003.0, 24.0, 0.0],
  [2004.0, 24.0, 0.0],
  [2005.0, 24.0, 0.0],
  [2006.0, 24.0, 0.0],
  [2010.0, 25.0, 1.0],
  [2011.0, 26.0, 1.0],
  [2012.0, 26.0, 0.0],
  [2013.0, 26.0, 0.0],
  [2015.0, 30.0, 4.0],
  [2016.0, 30.0, 0.0],
  [2017.0, 29.0, -1.0]],
 'Q6': [['Toyota', 133.0, 133.0, 133.0, 133.0, 158.0],
  ['Ford', 112.0, 129.0, 129.0, 129.0, 129.0],
  ['Volkswagen', 200.0, 200.0, 200.0, 200.0, 261.025641025641],
  ['Nissan', 249.0, 254.0, 254.5, 254.5, 254.5],
  ['Honda',
   130.0,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887,
   167.67924528301887]],
 'Q7': [[(1984, 1988), 19.0],
  [(1989, 1993), 18.0],
  [(1994, 1998), 19.0],
  [(1999, 2003), 19.0],
  [(2004, 2008), 19.0],
  [(2009, 2013), 21.0],
  [(2014, 2018), 22.0]]}

In [62]:
import pickle

file_name = "Adrian_Ramos_answers.pkl"
path = "../"

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)

# UNIT TESTS.

In [63]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

test_Q1 (__main__.TestAnswers) ... ok
test_Q2_dim (__main__.TestAnswers) ... ok
test_Q2_types (__main__.TestAnswers) ... ok
test_Q3_types (__main__.TestAnswers) ... ok
test_Q4_dim (__main__.TestAnswers) ... ok
test_Q4_types (__main__.TestAnswers) ... ok
test_Q5_dim (__main__.TestAnswers) ... ok
test_Q5_first_zero (__main__.TestAnswers) ... ok
test_Q5_types (__main__.TestAnswers) ... ok
test_Q6_check_first_and_last_brand (__main__.TestAnswers) ... ok
test_Q6_dim (__main__.TestAnswers) ... ok
test_Q7_dim (__main__.TestAnswers) ... ok
test_Q7_types (__main__.TestAnswers) ... ok
test_answers_types (__main__.TestAnswers) ... ok
test_if_dict (__main__.TestAnswers) ... ok
test_keys (__main__.TestAnswers) ... ok

----------------------------------------------------------------------
Ran 16 tests in 0.067s

OK