# WIZELINE DATA ENGINEERING BOOTCAMP
## Code Challenge
### Adrian Ramos Perez

In [1]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
data = pd.read_csv(url)

data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [2]:
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}
answer_dict

{'Q1': None,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?
#### Format: A floating number
#### Example answer: answer_dict["Q1"] =  11.547

In [3]:
########## Q1
Volkswagen_cars = data[data['Make']=='Volkswagen']
Avg = Volkswagen_cars['CO2 Emission Grams/Mile'].mean()
answer_dict["Q1"] = Avg
answer_dict

{'Q1': 392.7417210857633,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

## Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer: 
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [4]:
q2 = data[['Make','Model']]
q2

                   Make                Model
0            AM General    DJ Po Vehicle 2WD
1            AM General     FJ8c Post Office
2            AM General  Post Office DJ5 2WD
3            AM General  Post Office DJ8 2WD
4      ASC Incorporated                  GNX
...                 ...                  ...
35947             smart         fortwo coupe
35948             smart         fortwo coupe
35949             smart         fortwo coupe
35950             smart         fortwo coupe
35951             smart         fortwo coupe

[35952 rows x 2 columns]

In [5]:
# Number of diferent brands:
brands_number = q2['Make'].nunique()
brands_number

127

In [6]:
brands_df = data['Make']
brands_df.drop_duplicates()

0                         AM General
4                   ASC Incorporated
5                              Acura
307                       Alfa Romeo
348      American Motors Corporation
                    ...
34128                     Volkswagen
35175                          Volvo
35892          Wallace Environmental
35924                           Yugo
35932                          smart
Name: Make, Length: 127, dtype: object

In [7]:
for i in brands_number
    di = nunique()

SyntaxError: invalid syntax (Temp/ipykernel_1264/1375928915.py, line 1)

In [8]:
unique_models_dict = {}
for i in brands_df: 
    
    # Clean duplicates in models of the same brand:
    x = q2[q2['Make'] == str(i)]['Model'].drop_duplicates()
    # Count the number of the models of the same brand:
    unique_values = q2[q2['Make'] == str(i)]['Model'].nunique()
    # Assign the unique values to the list 
    unique_models_dict[i] = unique_values

In [9]:
unique_models_lst = pd.DataFrame(unique_models_dict.items()).values.tolist()
unique_models_lst = sorted(unique_models_lst,key=lambda l:l[1], reverse=True)
answer_dict['Q2'] = unique_models_lst[:5]

In [10]:
answer_dict['Q2'] = unique_models_lst[:5]
answer_dict['Q2']

[['Mercedes-Benz', 333],
 ['BMW', 284],
 ['Chevrolet', 253],
 ['Ford', 185],
 ['GMC', 163]]

## Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer: 
`['Regular',
 'Premium']`

In [11]:
########## Q3
Fuels = data['Fuel Type'].drop_duplicates()
Fuels_sorted = Fuels.sort_values(ascending=False).tolist()
#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium'] 
answer_dict["Q3"] = Fuels_sorted
answer_dict["Q3"]

['Regular Gas or Electricity',
 'Regular Gas and Electricity',
 'Regular',
 'Premium or E85',
 'Premium and Electricity',
 'Premium Gas or Electricity',
 'Premium',
 'Midgrade',
 'Gasoline or propane',
 'Gasoline or natural gas',
 'Gasoline or E85',
 'Diesel',
 'CNG']

## Q.4 Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. 
#### Show the car Model, Year and their Fuel Barrels/Year in standard deviation units(Z-score) sorted in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order BUT without modifying the negative values (see example).
#### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units
Example answer:
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
['FJ8c Post Office', 2003, -6.407431084026927],
['Post Office DJ5 2WD', 2005, -6.391684618442447],
['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
['Camry CNG', 2012, 2.677633075759575],
['Sierra 1500 4WD', 2005, 2.677633075759575],
['Sierra 1500 4WD', 2001, 2.677633075759575],
['V15 Suburban 4WD', 1988, 2.677633075759575],
['V15 Suburban 4WD', 1987, 2.677633075759575]]

Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. 
If the values are the same the rows are sorted by the year.

In [9]:
########## Q4
# Filtering by brand
Toyota_Cars = data['Toyota' == data['Make']] 
# Dropping unnecessary columns
Toyota_Cars = Toyota_Cars[['Model','Year','Fuel Barrels/Year']]

## Q.5 Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. 
#### Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.
Format: A 19X3 list, with the Year and Combined MPG being of type integer and only the calculated difference is of type float
Note: The value for the first model should be 0. It does not matter that there are gaps in the years, calculate with respect the previous model.
#### Example answer:
```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
 ```

In [22]:
########## Q5
# Filtering data by models that include name 'Golf':
Golfs_df = data[True == data['Model'].str.contains('Golf')] 
Golfs_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34365,Volkswagen,GTI/Golf GT,1987,1.8,4.0,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,21,24,22,403.954545,1500
34366,Volkswagen,GTI/Golf GT,1987,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,23,28,25,355.480000,1350
34367,Volkswagen,Golf,1986,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Diesel,10.919571,31,40,35,290.857143,1050
34368,Volkswagen,Golf,1986,1.8,4.0,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,21,25,22,403.954545,1500
34369,Volkswagen,Golf,1986,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34478,Volkswagen,Golf/GTI,1998,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34822,Volkswagen,New Golf,1999,1.9,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Diesel,11.581364,29,40,33,308.484848,1100
34823,Volkswagen,New Golf,1999,1.9,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Diesel,10.057500,35,44,38,267.894737,950
34824,Volkswagen,New Golf,1999,2.0,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,20,26,22,403.954545,1500
34825,Volkswagen,New Golf,1999,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400

In [24]:
# Filtering by Transmission and Fuel Type conditions:
Golfs_df = Golfs_df[('Manual 5-spd'==Golfs_df['Transmission']) & ('Regular'==Golfs_df['Fuel Type'])]
Golfs_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
34366,Volkswagen,GTI/Golf GT,1987,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,23,28,25,355.480000,1350
34369,Volkswagen,Golf,1986,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34372,Volkswagen,Golf,1987,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34374,Volkswagen,Golf,1988,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,30,25,355.480000,1350
34377,Volkswagen,Golf,1989,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,31,25,355.480000,1350
34379,Volkswagen,Golf,1999,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34385,Volkswagen,Golf,2000,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34391,Volkswagen,Golf,2001,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34395,Volkswagen,Golf,2002,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34399,Volkswagen,Golf,2003,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34403,Volkswagen,Golf,2004,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34407,Volkswagen,Golf,2005,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34411,Volkswagen,Golf,2006,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34412,Volkswagen,Golf,2010,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,30,25,355.480000,1350
34417,Volkswagen,Golf,2011,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,33,26,341.807692,1300
34421,Volkswagen,Golf,2012,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,33,26,341.807692,1300
34427,Volkswagen,Golf,2013,2.5,5.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,33,26,335.000000,1300
34431,Volkswagen,Golf,2015,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,10.987000,25,37,30,300.000000,1100
34436,Volkswagen,Golf,2016,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,10.987000,25,37,30,300.000000,1100
34438,Volkswagen,Golf,2017,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,11.365862,25,36,29,305.000000,1150
34440,Volkswagen,Golf III,1994,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34442,Volkswagen,Golf III,1995,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34444,Volkswagen,Golf III / GTI,1993,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34456,Volkswagen,Golf SportWagen,2015,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Small Station Wagons,Regular,11.365862,25,36,29,309.000000,1150
34458,Volkswagen,Golf SportWagen,2016,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Small Station Wagons,Regular,11.365862,25,36,29,309.000000,1150
34460,Volkswagen,Golf SportWagen,2017,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Small Station Wagons,Regular,11.771786,25,35,28,313.000000,1200
34463,Volkswagen,Golf/GTI,1985,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,23,29,25,355.480000,1350
34464,Volkswagen,Golf/GTI,1985,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,12.677308,23,31,26,341.807692,1300
34466,Volkswagen,Golf/GTI,1990,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,29,25,355.480000,1350
34468,Volkswagen,Golf/GTI,1991,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,29,25,355.480000,1350
34470,Volkswagen,Golf/GTI,1992,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,29,25,355.480000,1350
34473,Volkswagen,Golf/GTI,1996,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,28,23,386.391304,1450
34476,Volkswagen,Golf/GTI,1997,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,29,24,370.291667,1400
34478,Volkswagen,Golf/GTI,1998,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400
34825,Volkswagen,New Golf,1999,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,28,24,370.291667,1400

In [26]:
# Dropping unnecessary columns:
Golfs_df = Golfs_df[['Year','Combined MPG']]
Golfs_df

       Year  Combined MPG
34366  1987            25
34369  1986            26
34372  1987            26
34374  1988            25
34377  1989            25
34379  1999            24
34385  2000            24
34391  2001            24
34395  2002            24
34399  2003            24
34403  2004            24
34407  2005            24
34411  2006            24
34412  2010            25
34417  2011            26
34421  2012            26
34427  2013            26
34431  2015            30
34436  2016            30
34438  2017            29
34440  1994            24
34442  1995            24
34444  1993            24
34456  2015            29
34458  2016            29
34460  2017            28
34463  1985            25
34464  1985            26
34466  1990            25
34468  1991            25
34470  1992            25
34473  1996            23
34476  1997            24
34478  1998            24
34825  1999            24

In [20]:
# Adding column:
prev = np.array([[0],[Golfs_df['Combined MPG']]])

#Golfs_df = Golfs_df['Combined_MPG']

C:\Users\adria\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  if sys.path[0] == '':

## Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

In [28]:
########## Q6
# Filtering by brand and CO2 Emission Grams/Mile:
Toyota_lco2e = data['Toyota' == data['Make']][['Make','CO2 Emission Grams/Mile']] 
# Sort and take TOP 5:
Toyota_lco2e.sort_values('CO2 Emission Grams/Mile',inplace=True)
Toyota_lco2e = Toyota_lco2e.iloc[:5]
Toyota_lco2e

         Make  CO2 Emission Grams/Mile
33284  Toyota                    133.0
33283  Toyota                    133.0
33282  Toyota                    133.0
33281  Toyota                    133.0
33280  Toyota                    158.0

In [30]:
Ford_lco2e = data['Ford' == data['Make']][['Make','CO2 Emission Grams/Mile']]
Ford_lco2e.sort_values('CO2 Emission Grams/Mile',inplace=True)
Ford_lco2e = Ford_lco2e.iloc[:5]
Ford_lco2e

       Make  CO2 Emission Grams/Mile
13412  Ford                    112.0
13411  Ford                    129.0
13410  Ford                    129.0
13409  Ford                    129.0
13408  Ford                    129.0

In [31]:
Volks_lco2e = data['Volkswagen' == data['Make']][['Make','CO2 Emission Grams/Mile']]
Volks_lco2e.sort_values('CO2 Emission Grams/Mile',inplace=True)
Volks_lco2e = Volks_lco2e.iloc[:5]
Volks_lco2e

             Make  CO2 Emission Grams/Mile
34667  Volkswagen               200.000000
34664  Volkswagen               200.000000
34665  Volkswagen               200.000000
34666  Volkswagen               200.000000
34720  Volkswagen               261.025641

In [32]:
Nissan_lco2e = data['Nissan' == data['Make']][['Make','CO2 Emission Grams/Mile']]
Nissan_lco2e.sort_values('CO2 Emission Grams/Mile',inplace=True)
Nissan_lco2e = Nissan_lco2e.iloc[:5]
Nissan_lco2e

         Make  CO2 Emission Grams/Mile
27201  Nissan                    249.0
27198  Nissan                    254.0
26830  Nissan                    254.5
26835  Nissan                    254.5
26832  Nissan                    254.5

In [33]:
Honda_lco2e = data['Honda' == data['Make']][['Make','CO2 Emission Grams/Mile']]
Honda_lco2e.sort_values('CO2 Emission Grams/Mile',inplace=True)
Honda_lco2e = Honda_lco2e.iloc[:5]
Honda_lco2e

        Make  CO2 Emission Grams/Mile
17059  Honda               130.000000
17528  Honda               167.679245
17526  Honda               167.679245
17524  Honda               167.679245
17522  Honda               167.679245

In [35]:
lst = []
lst.append(['Toyota',Toyota_lco2e['CO2 Emission Grams/Mile'].to_list()])
lst.append(['Ford',Toyota_lco2e['CO2 Emission Grams/Mile'].to_list()])
lst.append(['Volkswagen',Toyota_lco2e['CO2 Emission Grams/Mile'].to_list()])
lst.append(['Nissan',Nissan_lco2e['CO2 Emission Grams/Mile'].to_list()])
lst.append(['Honda',Honda_lco2e['CO2 Emission Grams/Mile'].to_list()])

answer_dict['Q6'] = lst
answer_dict

{'Q1': None,
 'Q2': None,
 'Q3': None,
 'Q4': None,
 'Q5': None,
 'Q6': [['Toyota', [133.0, 133.0, 133.0, 133.0, 158.0]],
  ['Ford', [133.0, 133.0, 133.0, 133.0, 158.0]],
  ['Volkswagen', [133.0, 133.0, 133.0, 133.0, 158.0]],
  ['Nissan', [249.0, 254.0, 254.5, 254.5, 254.5]],
  ['Honda',
   [130.0,
    167.67924528301887,
    167.67924528301887,
    167.67924528301887,
    167.67924528301887]]],
 'Q7': None}

## Q.7

## Saving results to Answers dictionary:

In [12]:
answer_dict

{'Q1': 392.7417210857633,
 'Q2': [['Mercedes-Benz', 333],
  ['BMW', 284],
  ['Chevrolet', 253],
  ['Ford', 185],
  ['GMC', 163]],
 'Q3': ['Regular Gas or Electricity',
  'Regular Gas and Electricity',
  'Regular',
  'Premium or E85',
  'Premium and Electricity',
  'Premium Gas or Electricity',
  'Premium',
  'Midgrade',
  'Gasoline or propane',
  'Gasoline or natural gas',
  'Gasoline or E85',
  'Diesel',
  'CNG'],
 'Q4': None,
 'Q5': None,
 'Q6': None,
 'Q7': None}

In [ ]:
import pickle

file_name = "Adrian_Ramos_answers.pkl"
path = "../"

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)